<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <!--     <link  type="text/css" href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}" rel="stylesheet"> 
-->
        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Bootstrap Icons CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}" rel="stylesheet">    
    <style>
        .user_img {
            width: 50px;
            height: 50px;
        }
        .msg_cotainer {
            max-width: 70%;
        }
        .user_img_msg {
            max-width: 50px;
            max-height: 50px;
        }
    </style>
</head>
<body>
<div class="container-fluid h-100">
    <div class="hero-section d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="{{ url_for('static', filename='pcos.png') }}" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>ChatBot</span>
                            <p>Diagnostic!</p>
                        </div>
                    </div>
                </div>
                <div id="messageFormeight" class="card-body msg_card_body">
                </div>
                <div class="card-footer">
                    <form id="messageArea" class="input-group">
                        <input type="text" id="text" name="msg" placeholder="Votre réponse..." autocomplete="off" class="form-control type_msg" required/>
                        <div class="input-group-append">
                            <button type="submit" id="send" class="input-group-text send_btn"><i class="fa fa-location-arrow"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        function sendMessage(message) {
            $.ajax({
                data:{
                    msg: message,
                },
                type:"POST",
                url:"/get",
            }).done(function(data){
                var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="{{ url_for('static', filename='pcos.png') }}" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '</div></div>';
                $("#messageFormeight").append($.parseHTML(botHtml));
                // Vérifie si la réponse est vide, ce qui signifie que le questionnaire est terminé
                if (data.trim() === "") {
                    // Redirige vers la page de résultat après 2 secondes
                    setTimeout(function(){ window.location.href = "/resultat"; }, 2000);
                }
            });
        }
        sendMessage('');
        $("#messageArea").on("submit",function(event)
        {
            const date = new Date();
            const hour = date.getHours();
            const minute = date.getMinutes();
            const str_time = hour+":"+minute;
            var rawText = $("#text").val();
            var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time +'</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
            $("#text").val("");
            $("#messageFormeight").append(userHtml);
            sendMessage(rawText);
            event.preventDefault()
        });
    });
</script>
</body>
</html>
