<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Sneat</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='log/assets/img/favicon/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='log/assets/vendor/fonts/boxicons.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='log/assets/vendor/css/core.css') }}" class="template-customizer-core-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='log/assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='log/assets/css/demo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='log/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='log/assets/vendor/css/pages/page-auth.css') }}">
    <script src="{{ url_for('static', filename='log/assets/vendor/js/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='log/assets/js/config.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <div class="card">
                    <div class="card-body">
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <i class="bi bi-gender-female"></i>
                                </span>
                                <span class="app-brand-text demo text-body fw-bolder">SOPKDetec</span>
                            </a>
                        </div>
                        <h4 class="mb-2">réinitialiser le mot de passe 🔒</h4>
                        <p class="mb-4">Pour <strong>{{ email }}</strong></p>
                        <form id="formAuthentication" class="mb-3" action="{{ url_for('reset_password', email=email) }}" method="POST">
                            <div class="mb-3">
                                <label for="new-password" class="form-label">nouveau mot de passe</label>
                                <input type="password" class="form-control" id="new-password" name="new-password" placeholder="Entrez votre nouveau mot de passe">
                            </div>
                            <div class="mb-3">
                                <label for="confirm-password" class="form-label">Confirmer le nouveau mot de passe</label>
                                <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirmez votre nouveau mot de passe">
                            </div>
                            <button class="btn btn-primary d-grid w-100">réinitialiser le mot de passe</button>
                        </form>
                        <div class="text-center">
                            <a href="auth-login-basic.html" class="d-flex align-items-center justify-content-center">
                                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                                Retour à la page connexion

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='log/assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='log/assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='log/assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='log/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='log/assets/vendor/js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='log/assets/js/main.js') }}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
