<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Topic Detail Page</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Bootstrap Icons CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}" rel="stylesheet">    
<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <i class="bi bi-gender-female"></i>
                        <span>SopkDetec</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="index.html#section_1">Bienvenue</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="index.html#section_2">Explorer les sujets</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="index.html#section_3">Comment ça fonctionne ?</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="index.html#section_4">QFPs</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="index.html#section_5">Contact</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                                    <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                    </div>
                </div>
            </nav>
            

            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Bienvenue</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Gestion du style de vie</li>
                                    
                                </ol>
                            </nav>

                            <h2 class="text-white">
                                Gestion du style de vie<br> </h2>

                            <div class="d-flex align-items-center mt-5">
                                <a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">Savoir Plus!</a>

                                <a href="#top" class="custom-icon bi-bookmark smoothscroll"></a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="topics-detail-block bg-white shadow-lg">
                                <img src="{{ url_for('static', filename='images/gestionvie.png') }}" class="topics-detail-block-image img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </header>


            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 m-auto">

                            <h3 class="mb-4">Points clés  </h3>
                            <ul style="list-style-type: circle;">
                            <li>Un mode de vie sain est très important dans le SOPK.</li>
                            <li>Bien manger, être actif et réduire les habitudes malsaines (tabagisme, consommation excessive d'alcool) vous offrent les meilleures chances de réduire les symptômes et les complications du SOPK. </li>
                            </ul>
                            <h3 class="mb-4">Pourquoi est-ce important pour moi? </h3>
                            <p> Il a été démontré que la gestion du mode de vie constitue l’approche la plus efficace pour réduire la gravité des symptômes du SOPK.</p>
                            <p> Un mode de vie sain comprend :</p>
                            <ul style="list-style-type: disc;">
                            <li>Etre le plus actif possible (idéalement au moins 30 minutes par jour pour les adultes et plus pour les enfants)</li>
                            <li>Avoir une alimentation équilibrée et nutritionnelle.</li>
                            <li>Bouger tout au long de la journée.</li>
                            <li>Arrêter les comportements malsains tels que le tabagisme ou la consommation excessive d'alcool.</li>
                            <li>Parfois, cela peut impliquer de fixer des objectifs en matière de perte de poids, mais le mode de vie est important indépendamment des objectifs de perte de poids.</li>
                            <li>Le mode de vie à lui seul peut aider à prévenir une prise de poids qui s'accentue avec le temps, mais des thérapies supplémentaires peuvent être nécessaires si les objectifs de perte de poids sont importants.</li>
                            </ul>
                            <h3 class="mb-4">Que puis-je faire?</h3>
                            <p>Tout changement sain est un grand pas en avant. De nombreuses personnes atteintes du SOPK ont du mal à commencer et à s'en tenir à des changements de mode de vie sains. Cela peut être dû à un manque de progrès dans le passé, à des défis émotionnels ou à diverses raisons.</p>
                            <p>Voici quelques éléments qui peuvent être utiles :</p>
                            <ul style="list-style-type: disc;">
                            <li><strong>Développez un réseau de soutien de personnes pour vous aider à définir et à respecter vos objectifs de style de vie.</strong> Un réseau de soutien peut être constitué d'un certain nombre de personnes telles que des professionnels de la santé (médecins généralistes, psychologues, diététiciens, physiologistes de l'exercice et/ou entraîneurs personnels) et de soutiens sociaux tels que des amis, des partenaires ou la famille. De nombreuses femmes trouvent également utile de rejoindre un réseau de femmes atteintes du SOPK. Il peut s'agir d'un groupe local ou d'un réseau en ligne (voir En savoir plus sur le SOPK pour plus de détails sur les groupes de soutien en ligne). Il est important que vous décidiez de ce qui vous convient le mieux.</li>
                            <li><strong>Prêter attention à votre santé émotionnelle est également important pour votre santé globale.</strong> Si vous constatez que vous rencontrez des difficultés émotionnelles qui vous empêchent de maintenir un mode de vie sain, pensez à obtenir du soutien.</li>
                            <li>les femmes atteintes du SOPK peuvent avoir une relation complexe avec la nourriture qui peut affecter leurs habitudes alimentaires. Il est bon de se rappeler qu’une aide est disponible pour vous soutenir.                            </li>
                            </ul>
                            <blockquote>Rappelez-vous que les progrès ne sont pas toujours simples et peuvent parfois consister en un pas en avant et deux pas en arrière</blockquote>
                            <p><strong>De nombreux facteurs dans notre vie peuvent entraver nos meilleurs efforts pour être en bonne santé, comme le stress et les défis émotionnels. Ces événements peuvent être difficiles à prévoir et peuvent parfois sembler insurmontables. L’important est de garder un œil sur ses objectifs et de continuer. Certains jours, vous réussirez et d’autres non, mais à la fin, vous progresserez.</strong></p>
                            <div class="row my-4">


    
                            </div>

                            <p></p>
                        </div>

                    </div>
                </div>
            </section>


            <section class="section-padding section-bg">
                <div class="container">
                    <div class="row justify-content-center">


                        <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                            <form class="custom-form subscribe-form" action="#" method="post" role="form">
                                <h4 class="mb-4 pb-2">Recevoir la newsletter</h4>

                                <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email " required="">

                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="form-control">S'abonner</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
        </main>
		
        <footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="index.html">
                            <i class="bi bi-gender-female"></i>
                            <span>SopkDetec</span>
    
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Bienvenue</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Comment ça fonctionne ?</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">QFPs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="tel: 305-240-9671" class="site-footer-link">
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:info@company.com" class="site-footer-link">
                                yassmine.zariat@esprit.tn <br>
                                contact@itgust-group.tn                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English</button>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Thai</button></li>

                                <li><button class="dropdown-item" type="button">Myanmar</button></li>

                                <li><button class="dropdown-item" type="button">Arabic</button></li>
                            </ul>
                        </div>

                        <p class="copyright-text mt-lg-5 mt-4">
                        
                    </div>

                </div>
            </div>
        </footer>
<!-- JAVASCRIPT FILES -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
<script src="{{ url_for('static', filename='js/click-scroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>


    </body>
</html>